.navigationButtons {
	margin-top: 10%;
	margin-left: 22%;
}
.bottomNav {
	margin-top: 5%;
}
.waitersBtn {
	width: 200px;
	height: 150px;
	border-top-left-radius: 45px;
}
.playersBtn {
	width: 200px;
	height: 150px;
	border-top-right-radius: 45px;	
}
.biliardBtn {
	width: 200px;
	height: 150px;
	border-bottom-left-radius: 45px;	
}
.logoutBtn {
	width: 200px;
	height: 150px;	
	border-bottom-right-radius: 45px;
}