<div class="createForm">
<form #f="ngForm" (ngSubmit)="update(f)">
	<input type="hidden" name="id" ngModel [(ngModel)] = "editPlayer.id"> 
	<div class="form-group">
		<mat-form-field>
			<input matInput name="firstname" placeholder="Firstname" #firstname="ngModel" [(ngModel)] = "editPlayer.firstname" >
		</mat-form-field>	
	</div>
	
	<div class="form-group">
		<mat-form-field>
			<input matInput name="lastname" placeholder="Lastname" #lastname="ngModel"  [(ngModel)] = "editPlayer.lastname" >
		</mat-form-field>	
	</div>

	<div class="form-group">
		<input type="file" name="image" (change)="changeSelect($event)"><br>
		<!-- <button mat-raised-button color="primary" (click)="uploadImage()">Upload</button>		 -->
	</div>
	
	<button mat-raised-button color="primary">Update</button>
</form>
</div>